<div class="page-header">

    <h4>jsDAL Server performance</h4>
</div>

<div class="flex-vertical-center" style="justify-content: space-evenly; max-width:500px;">
    <button mat-raised-button color="primary" routerLink="./real-time">Real-time</button>
    <button mat-raised-button color="primary" routerLink="./routine-list">Routine list</button>

    <button mat-raised-button color="primary" routerLink="./top">Top resources</button>


</div>
<hr/>
<mat-card>
    <mat-card-content>
        <div class="flex-vertical-center row">
            <div class="field">
                Endpoint
            </div>
            <div class="value">
                <mat-form-field style="width:300px">
                    <mat-select #epSelect (selectionChange)="onEndpointChanged(epSelect.value)"
                        [(ngModel)]="selectedEndpointVal">
                        <mat-option *ngFor="let ep of endpoints" [value]="ep.Project+'/'+ep.App+'/'+ep.Endpoint">
                            {{ ep.Project }}/{{ ep.App }}/{{ ep.Endpoint }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>
    </mat-card-content>
</mat-card>




<router-outlet></router-outlet>


<!-- 
<hr />



<mat-card>
    <mat-card-content>

        <table class="grid" *ngIf="projectList">
            <thead>
                <tr>
                    <th style="width:40px"></th>
                    <th style="width:250px">Project</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of projectList" [class.success]="selectedProject == row">
                    <td class="anchorColumn">
                        <button mat-button color="primary" [routerLink]="['./' + row.Name]">select</button>
                    </td>
                    <td>{{row.Name}}</td>
                </tr>
            </tbody>
        </table>


    </mat-card-content>
</mat-card>


<br /> -->