/* div.addNewRule mat-radio-button { width: 90px }

    div.addNewRule div.row
    {
        display:flex;
        align-items: center;
    }

    div.addNewRule div.row mat-form-field
    {
        flex: 1 1 auto;
    }
     */
     .td-ellipsis-container 
     {
        display: flex;

     }
     .td-ellipsis-container > *
     {
        min-width: 0;
        align-self: center;
     }

     
     .td-ellipsis-container .desc
     {
         text-overflow: ellipsis;
         white-space: nowrap;
         overflow: hidden;
         
     }

     .td-ellipsis-container .desc span
     {
        font-family: Roboto;
     }

     .rules.grid tr
     {
        height: 38px;
     }

    tr.routine.included
    {
     color: #00931e;   
    }
    tr.routine.excluded
    {
        color: #930000;
    }    

    span.rule-type
    {
        font-weight: bold;
        border: 1px solid transparent;
        padding: 2px;
        border-radius: 4px;
        width: 55px;
        background-color:#fff;
        display: inline-block;
    }