﻿<mat-card appearance="outlined">
    <mat-card-title>
        Manage {{ jsFilename? jsFilename:"application" }} rules
    </mat-card-title>
    <mat-card-content>

        <p>
            <span>By default all routines are
                <mat-chip-listbox [selectable]="false" style="display: inline-block;">
                    <mat-chip-option color='{{defaultRuleMode?.toString()=="0"? "primary": "accent"}}' selected="true" title="This can be changed by editting the application properties">{{defaultRuleMode?.toString()=="0"? "Included": "Excluded"}}</mat-chip-option>
                </mat-chip-listbox>
            </span>
        </p>


        <table class="rules grid" style="width:auto;max2-width: 850px;margin:0;">
            <thead>
                <tr>
                    <th style="width:200px"></th>
                    <th style="width:350px;">Rule</th>
                    <th style="width:100px;"># affected</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of ruleList">
                    <td class="anchorNest">
                        <span *ngIf="!row.IsAppRule || row.AppLevelOnly">
                            <button mat-button color="primary" (click)="editRule(row)">edit</button>
                            <button mat-button color="accent" (click)="onDeleteRuleClicked(row)">delete</button>
                        </span>
                        <span *ngIf="row.IsAppRule && !row.AppLevelOnly">
                            <a routerLink='../'>(Application rule)</a>

                        </span>
                    </td>
                    <td [title]="row.Description" style="width:350px;">
                        <div class="td-ellipsis-container" style="width:350px;">
                            <span class="rule-type" style="flex:0 0 auto">{{ RuleTypeValues[row.Type] }}</span>&nbsp;
                            <span class="desc">{{row.Description}}</span>
                        </div>
                    </td>
                    <td style="text-align: right; padding-right: 8px;">{{ row.AffectedCount }}</td>
                </tr>
                <tr *ngIf="!ruleList || ruleList.length == 0">
                    <td colspan="4">No rules configured yet.</td>

                </tr>
            </tbody>
        </table>


    </mat-card-content>
    <mat-card-actions>
        <button (click)="addNewRule()" color="primary" mat-button>ADD NEW
            <strong>{{defaultRuleMode?.toString() == "0"? "EXCLUSION":"INCLUSION"}}</strong> RULE</button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar *ngIf="isLoadingRules" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>





<mat-card appearance="outlined">
    <mat-card-title>
        Full routine list
    </mat-card-title>
    <mat-card-content>

        <div *ngIf="filteredRoutineList" class="footer">Viewing
            <strong>{{ filteredRoutineList.length }}</strong> of
            <strong>{{ fullRoutineList.length }}</strong> routine(s)</div>

        <div style="display: flex;">
            <mat-form-field style="flex: 1 1 auto;">
                <input matInput type="text" [(ngModel)]="filterTxt" placeholder="Filter text" (keyup)="onFilterTextChanged($event.target.value)"
                />
            </mat-form-field>

        </div>
        <div style="height: 2px;margin-top:-3px;">
            <mat-progress-bar *ngIf="isFilteredListLoading" mode="indeterminate"></mat-progress-bar>
        </div>
        <!-- <cdk-virtual-scroll-viewport class="demo-viewport" autosize>
                <div *cdkVirtualFor="let size of fixedSizeData; let i = index" class="demo-item"
                     [style.height.px]="size">
                  Item #{{i}} - ({{size}}px)
                </div>
              </cdk-virtual-scroll-viewport> -->


        <table class="grid" *ngIf="filteredRoutineList" style="table-layout: fixed2;">
            <thead>
                <tr>
                    <th style="width:110px"></th>
                    <th>Name</th>
                    <th style="width:350px">Reason</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of filteredRoutineList" class="routine" [class.included]="row.Included" [class.excluded]="row.Excluded">
                    <td class="flex-justify-center">
                        <!--Only show explicit incl/excl action if the current routine is not already in that state -->
                        <button mat-button color="primary" *ngIf="showIncludeExcludeButton(row)" (click)="onExplicitInludeOrExclude(row)">{{ defaultRuleMode?.toString() == "0"? "exclude":"include"}}</button>

                    </td>
                    <td>
                        <i class="fa pr8" [class.fa-check]="row.Included" [class.fa-times]="row.Excluded"></i> {{row.RoutineFullName}}</td>

                    <td style="width:350px" [title]="row.Reason">

                        <div class="td-ellipsis-container" style="width:350px;">

                            <i title="Database metadata level" *ngIf="RoutineIncludeExcludeInstructionSourceValues[row.Source] == 'DatabaseMetadata'"
                                class="pr8 fa fa-database desc">
                                <span  [title]="row.Reason">&nbsp;{{row.Reason}}</span>
                            </i>
                            <i title="JS file level" *ngIf="RoutineIncludeExcludeInstructionSourceValues[row.Source] == 'JsFileLevel'" class="pr8 fa fa-file-code-o desc">
                                <span  [title]="row.Reason">&nbsp;{{row.Reason}}</span>
                            </i>
                            <i title="Application level" *ngIf="RoutineIncludeExcludeInstructionSourceValues[row.Source] == 'DbSourceLevel'" class="pr8 fa fa-square desc">
                                <span  [title]="row.Reason">&nbsp;{{row.Reason}}</span>
                            </i>
                        </div>
                    </td>

                </tr>
                <tr *ngIf="needTruncation && cutOffRoutineList">
                    <td colspan="4" style="text-align:center;background-color:#f0f0f0;border:1px solid gray;padding:3px;">Results truncated.
                        <button mat-button color="primary" (click)="cutOffRoutineList=false;refreshFilteredView(filterTxt);">CLICK HERE</button> to display all of the results.</td>
                </tr>
                <tr *ngIf="!filteredRoutineList || filteredRoutineList.length == 0">
                    <td colspan="4">No routines found in cache.</td>

                </tr>
            </tbody>
        </table>

    </mat-card-content>
    <mat-card-footer>
        <mat-progress-bar *ngIf="isFilteredListLoading" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>