<mat-card>
    <mat-card-title>
        Manage {{ !jsFileId? "application":"" }} rules
    </mat-card-title>
    <mat-card-content>

        <p>
            <span>By default all routines are
                <mat-chip-list [selectable]="false" style="display: inline-block;">
                    <mat-chip color='{{defaultRuleMode?.toString()=="0"? "primary": "accent"}}' selected="true" title="This can be changed by editting the application properties">{{defaultRuleMode?.toString()=="0"? "Included": "Excluded"}}</mat-chip>
                </mat-chip-list>
            </span>
        </p>


        <table class="grid" style="max-width: 850px;margin:0;">
            <thead>
                <tr>
                    <th style="width:200px"></th>
                    <th>Rule</th>
                    <th style="width: 100px"># affected</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of ruleList">
                    <td class="anchorNest">
                        <span *ngIf="!row.IsAppRule || row.AppLevelOnly">
                            <button mat-button color="primary" (click)="editRule(row)">edit</button>
                            <button mat-button color="accent" (click)="onDeleteRuleClicked(row)">delete</button>
                        </span>
                        <span *ngIf="row.IsAppRule && !row.AppLevelOnly">(Application rule)</span>
                    </td>
                    <td>
                        <span class="rule-type">{{ RuleTypeValues[row.Type] }}</span>&nbsp;{{row.Description}}</td>
                    <td style="text-align: right; padding-right: 8px;">{{ row.AffectedCount }}</td>
                </tr>
                <tr *ngIf="!ruleList || ruleList.length == 0">
                    <td colspan="4">No rules configured yet.</td>

                </tr>
            </tbody>
        </table>


    </mat-card-content>
    <mat-card-actions>
        <button (click)="addNewRule()" color="primary" mat-button>ADD NEW
            <strong>{{defaultRuleMode?.toString() == "0"? "EXCLUSION":"INCLUSION"}}</strong> RULE</button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar *ngIf="isLoadingRules" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>





<mat-card>
    <mat-card-title>
        Full routine list
    </mat-card-title>
    <mat-card-content>

        <div *ngIf="filteredRoutineList" class="footer">Viewing
            <strong>{{ filteredRoutineList.length }}</strong> of
            <strong>{{ fullRoutineList.length }}</strong> routine(s)</div>

        <div style="display: flex;">
            <mat-form-field style="flex: 1 1 auto;">
                <input matInput type="text" [(ngModel)]="filterTxt" placeholder="Filter text" (keyup)="onFilterTextChanged($event.target.value)"
                />
            </mat-form-field>

        </div>
        <div style="height: 2px;margin-top:-3px;">
            <mat-progress-bar *ngIf="isFilteredListLoading" mode="indeterminate"></mat-progress-bar>
        </div>

        <table class="grid" *ngIf="filteredRoutineList">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of filteredRoutineList" class="routine" [class.included]="row.Included" [class.excluded]="row.Excluded">
                    <td class="flex-justify-center" style="width: 50px;">
                        <!--Only show explicit incl/excl action if the current routine is not already in that state -->
                        <button mat-button color="primary" *ngIf="showIncludeExcludeButton(row)" (click)="onExplicitInludeOrExclude(row)">{{ defaultRuleMode?.toString() == "0"? "exclude":"include"}}</button>

                    </td>
                    <td>
                        <i class="fa pr8" [class.fa-check]="row.Included" [class.fa-times]="row.Excluded"></i> {{row.RoutineFullName}}</td>
                    <td>
                        <i title="Database metadata level" *ngIf="RoutineIncludeExcludeInstructionSourceValues[row.Source] == 'DatabaseMetadata'"
                            class="pr8 fa fa-database">
                            <span style="font-family:Roboto">&nbsp;{{row.Reason}}</span>
                        </i>
                        <i title="JS file level" *ngIf="RoutineIncludeExcludeInstructionSourceValues[row.Source] == 'JsFileLevel'" class="pr8 fa fa-file-code-o">
                            <span style="font-family:Roboto">&nbsp;{{row.Reason}}</span>
                        </i>
                        <i title="Application level" *ngIf="RoutineIncludeExcludeInstructionSourceValues[row.Source] == 'DbSourceLevel'" class="pr8 fa fa-square">
                            <span style="font-family:Roboto">&nbsp;{{row.Reason}}</span>
                        </i>

                    </td>

                </tr>
                <tr *ngIf="needTruncation && cutOffRoutineList">
                    <td colspan="4" style="text-align:center;background-color:#f0f0f0;border:1px solid gray;padding:3px;">Results truncated.
                        <button mat-button color="primary" (click)="cutOffRoutineList=false;refreshFilteredView(filterTxt);">CLICK HERE</button> to display all of the results.</td>
                </tr>
                <tr *ngIf="!filteredRoutineList || filteredRoutineList.length == 0">
                    <td colspan="4">No routines found in cache.</td>

                </tr>
            </tbody>
        </table>

    </mat-card-content>
    <mat-card-footer>
        <mat-progress-bar *ngIf="isFilteredListLoading" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>