<h1 md-dialog-title><i class="fa fa-object-group pr8"></i>Manage rules - {{title}} - <span style="font-size: 12px;">By default all routines are 
        <md-chip color='{{defaultRuleMode==0? "primary": "accent"}}' selected="true" title="This can be changed by editting the database source properties">{{defaultRuleMode==0? "Included": "Excluded"}}</md-chip>
    </span>

</h1>

<div md-dialog-content style="min-width:800px;">

    <md-card>
        <md-card-title></md-card-title>
        <md-card-content>

            <table class="grid">
                <thead>
                    <tr>
                        <th style="width:200px"></th>
                        <th>Rule</th>
                        <th># affected</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of ruleList">
                        <td class="anchorNest">
                             {{ row|json }}
                            <span *ngIf="!row.IsDataSourceRule || row.DBLevelOnly">
                                        {{row.Ix}}.
                                        <button md-button color="primary">edit</button>
                                        <button md-button color="accent" (click)="onDeleteRuleClicked(row)">delete</button>
                                    </span>
                            <span *ngIf="row.IsDataSourceRule && !row.DBLevelOnly">(DB source rule)</span>
                        </td>
                        <td>
                            <md-chip style="width:60px; text-align: center;" color="primary" selected="true">{{ RuleTypeValues[row.Type] }}</md-chip>&nbsp;{{row.Description}}</td>
                        <td>{{ row.AffectedCount }}</td>
                    </tr>
                    <tr *ngIf="!ruleList || ruleList.length == 0">
                        <td colspan="4">No rules configured yet.</td>

                    </tr>
                </tbody>
            </table>

        </md-card-content>
        <md-card-actions>
            <button *ngIf="!isInAddNewRuleMode" (click)="isInAddNewRuleMode=true;newTypeVal=1" color="primary" md-button>ADD NEW <strong>{{defaultRuleMode == 0? "EXCLUSION":"INCLUSION"}}</strong> RULE</button>

        </md-card-actions>
        <md-card-footer>
            <md-progress-bar *ngIf="isLoadingRules" mode="indeterminate"></md-progress-bar>
        </md-card-footer>
    </md-card>

    <md-card *ngIf="isInAddNewRuleMode">
        <md-card-title>
            <i class="fa fa-plus-circle pr8"></i>Add new rule
        </md-card-title>
        <md-card-content>
            <div class="addNewRule">


                <div class="row">
                    <md-radio-button #radSchema (click)="newTypeVal=0;txtSchema.focus()" radioGroup="newType" value="0">Schema</md-radio-button>

                    <md-input-container>
                        <input #txtSchema mdInput type="text" autofocus [readonly]="!radSchema.checked" (click)="radSchema.checked = true;newTypeVal=0;"
                            placeholder="Schema name" />
                    </md-input-container>
                </div>

                <div class="row">
                    <md-radio-button #radSpecific (click)="newTypeVal=1;txtSpecific.focus()" radioGroup="newType" value="1">Specific</md-radio-button>
                    <md-input-container>
                        <input #txtSpecific mdInput type="text" (click)="radSpecific.checked = true;newTypeVal=1" placeholder="Routine name" [readonly]="!radSpecific.checked"
                        />
                    </md-input-container>
                </div>

                <div class="row">
                    <md-radio-button #radRegex (click)="newTypeVal=2;txtRegex.focus();" radioGroup="newType" value="2">Regex</md-radio-button>
                    <md-input-container>
                        <input #txtRegex mdInput type="text" (click)="radRegex.checked = true;newTypeVal=2" placeholder="JavaScript regex" [readonly]="!radRegex.checked"
                        />
                    </md-input-container>
                </div>
            </div>


        </md-card-content>

        <md-card-actions align="end">
            <button md-button color="primary" (click)="onAddNewRuleClicked(txtSchema.value, txtSpecific.value, txtRegex.value, newTypeVal);isInAddNewRuleMode=false">ADD RULE</button>
            <button md-button color="primary" (click)="isInAddNewRuleMode=false">CANCEL</button>

        </md-card-actions>
    </md-card>


    <md-card>
        <md-card-title>
            Full routine list
        </md-card-title>
        <md-card-content>

            <div *ngIf="filteredRoutineList" class="footer">Viewing <strong>{{ filteredRoutineList.length }}</strong> of <strong>{{ fullRoutineList.length }}</strong> routine(s)</div>

            <div style="display: flex;">
                <md-input-container style="flex: 1 1 auto;">
                    <input mdInput type="text" [(ngModel)]="filterTxt" placeholder="Filter text" (keyup)="onFilterTextChanged($event.target.value)"
                    />
                </md-input-container>

            </div>
            <div style="height: 2px;margin-top:-3px;">
                <md-progress-bar *ngIf="isFilteredListLoading" mode="indeterminate"></md-progress-bar>
            </div>

            <table class="grid" *ngIf="filteredRoutineList">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Reason</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of filteredRoutineList" class="routine" [class.included]="row.Included" [class.excluded]="row.Excluded">
                        <td class="flex-justify-center">
                            <!--Only show explicit incl/excl action if the current routine is not already in that state -->
                            <button md-button color="primary" *ngIf="showIncludeExcludeButton(row)" (click)="onExplicitInludeOrExclude(row)" href="javascript:void(0)">{{defaultRuleMode == 0? "exclude":"include"}}</button>

                        </td>
                        <td><i class="fa pr8" [class.fa-check]="row.Included" [class.fa-times]="row.Excluded"></i> {{row.RoutineFullName}}</td>
                        <td>
                            <i title="Database metadata level" *ngIf="RoutineIncludeExcludeInstructionSourceValues[row.Source] == 'DatabaseMetadata'"
                                class="pr8 fa fa-database"><span style="font-family:Roboto">&nbsp;{{row.Reason}}</span></i>
                            <i title="JS file level" *ngIf="RoutineIncludeExcludeInstructionSourceValues[row.Source] == 'JsFileLevel'" class="pr8 fa fa-file-code-o"><span style="font-family:Roboto">&nbsp;{{row.Reason}}</span></i>
                            <i title="Database source level" *ngIf="RoutineIncludeExcludeInstructionSourceValues[row.Source] == 'DbSourceLevel'" class="pr8 fa fa-square"><span style="font-family:Roboto">&nbsp;{{row.Reason}}</span></i>

                        </td>

                    </tr>
                    <tr *ngIf="needTruncation && cutOffRoutineList">
                        <td colspan="4" style="text-align:center;background-color:#f0f0f0;border:1px solid gray;padding:3px;">Results truncated. <button md-button color="primary" (click)="cutOffRoutineList=false;refreshFilteredView(filterTxt);">CLICK HERE</button> to display all of the results.</td>
                    </tr>
                    <tr *ngIf="!filteredRoutineList || filteredRoutineList.length == 0">
                        <td colspan="4">No routines found in cache.</td>

                    </tr>
                </tbody>
            </table>

        </md-card-content>
        <md-card-footer>
            <md-progress-bar *ngIf="isFilteredListLoading" mode="indeterminate"></md-progress-bar>
        </md-card-footer>
    </md-card>

</div>
<div md-dialog-actions align="end">
    <button md-button (click)="dialogRef.close(false)">CLOSE</button>
</div>