<div #dlg class="modal fade" id="addProductModal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-plus-circle pr8"></i><span *ngIf="!rowData">Add</span><span *ngIf="rowData">Edit</span> database connection</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" [class.flyLeft]="advancedMode">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="logicalName">Logical name</label>
                        <div class="col-sm-8"><input [disabled]="shouldDisableMain()" type="text" class="form-control" id="logicalName" placeholder="Logical name" [(ngModel)]="logicalName" required /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="datasource">Datasource</label>
                        <div class="col-sm-8">
                            <input [disabled]="shouldDisableMain()" type="text" class="form-control" id="datasource" placeholder="Server name or IP" [(ngModel)]="datasource" required />
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-3 control-label" for="username">Auth type</label>
                        <div class="col-sm-8">
                            <label class="radio-inline"><input [disabled]="shouldDisableMain()" id="authTypeWindows" type="radio" name="authType" value="100" [checked]="authenticationType == 100" (change)="authenticationType = 100" required /> Windows</label>
                            <label class="radio-inline"><input [disabled]="shouldDisableMain()" id="authTypeSQL" type="radio" name="authType" value="200" [checked]="authenticationType == 200" (change)="authenticationType = 200" required /> SQL</label>

                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-3 control-label" for="username">Username</label>
                        <div class="col-sm-8"><input [disabled]="shouldDisableMain() || authenticationType == '100'" type="text" class="form-control" id="username" placeholder="Username" [(ngModel)]="username" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="password">Password</label>
                        <div class="col-sm-8"><input [disabled]="shouldDisableMain() || authenticationType == '100'" type="password" autocomplete="off" class="form-control" id="password" [(ngModel)]="password" placeholder="Password" /></div>
                    </div>

                    <div class="form-group anchorNest">
                        <label class="col-sm-3 control-label" for="database">Database</label>
                        <div class="col-sm-8">
                            <select #dbCbo type="text" class="form-control" id="database" [(ngModel)]="database" style="width:100%;" required></select>
                            <a id="loadFromServer" [class.disabled]="isLoadingDbList || shouldDisableMain()" (click)="onLoadDbList()">({{ !isLoadingDbList? "load from server":"loading, please wait..." }})</a>
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-8"><button [disabled]="shouldDisableMain()" (click)="onTestConnectionClicked()" class="form-control btn btn-info" id="testConnection">{{isTestingDbDetails? "Testing...":"Test connection"}}</button></div>
                    </div>



                </div>

                <div class="modal-footer">
                    <button (click)="onAddClicked()" id="add" type="button" class="btn btn-primary"><span *ngIf="!rowData">Add</span><span *ngIf="rowData">Update</span></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>