<div class="page-header">
    <h4 style="display:inline-block">
        <i class="fa fa-database pr8"></i>Datasource: {{ dataSourceKey }}
    </h4>
    <div style="display:inline-block;margin-left:30px;">
        <span class="ormLabel" [class.good]="isOrmInstalled" [class.bad]="!isOrmInstalled">
            <i class="fa " [class.fa-check-circle-o]="isOrmInstalled" [class.fa-times-circle-o]="!isOrmInstalled"></i>
            ORM <span *ngIf="!isOrmInstalled">not</span> installed
        </span>
        <a href="javascript:void(0)" *ngIf="isOrmInstalled" (click)="onUninstallOrmClicked()">(uninstall)</a>
        <a href="javascript:void(0)" *ngIf="isOrmInstalled" (click)="onRecheckOrmClicked(true)">(recheck)</a>
    </div>
</div>

<div *ngIf="!isReady">
    Loading datasource details, please wait...
</div>

<div class="container-fluid" *ngIf="isReady">



    <div *ngIf="isOrmInstalled" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Cached routines
            </h3>
        </div>
        <div class="panel-body">

            <div *ngIf="summaryData">

                <strong>Last updated:</strong> {{ summaryData.Orm.LastUpdated | fromISODateStr | date:'dd MMM yyyy, HH:mm:ss' }} <span class="text-info">({{getLastUpdatedAge(summaryData.Orm.LastUpdated)}} ago)</span>
                <br />

                <strong># of routines:</strong> {{ summaryData.Orm.TotalCnt }} <i class="fa fa-long-arrow-right"></i>


                <template [ngIf]="summaryData && summaryData.Orm.TotalCnt > 0">
                    <div *ngFor="let row of summaryData.Orm.Groups, let last = last" style="display:inline-block">
                        <span>{{row.Type}}</span><span> ({{row.Count}})</span> {{last? "":", "}}
                    </div>
                </template>
                <br />
                <br />
                <div class="anchorNest">
                    <a (click)="viewCachedMetadata()" href="javascript:void(0)">View metadata</a>
                    <a (click)="clearDbSourceCache()" href="javascript:void(0)">Clear cache</a>
                </div>


            </div>
            <p *ngIf="!summaryData">
                No routines cached yet.
            </p>


        </div>
    </div>




    <div *ngIf="!isOrmInstalled" class="alert alert-warning" role="alert">
        ORM sprocs are not installed yet. Click <strong>initialize</strong> to start the installation procedure.
    </div>
    <button *ngIf="!isOrmInstalled" [class.disabled]="isInstallingOrm" class="btn btn-success" style="width:100px;" (click)="onInitializeClicked()"><span *ngIf="!isInstallingOrm">Initialise</span><span *ngIf="isInstallingOrm">Working...</span></button>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-tags pr8"></i>Whitelisted source IPs
            </h3>
        </div>
        <div class="panel-body">
            <p>
                Specify a whitelist of IPs (not host names) that are allowed to access this DB source. Place each entry on a new line.
                Wildcard and ranges are supported, e.g. <strong>172.16.*.10-50</strong>
            </p>
            <p>
                <label><input [(ngModel)]="allowAllPrivateIPs" type="checkbox" /> Allow all private IPs</label>
                <br/>
                <textarea #whitelistTA [ngModel]="whitelist" style="width:400px;height: 120px;"></textarea>
            </p>
            

            <button (click)="onUpdateWhitelist(whitelistTA)" class="btn btn-primary">Save whitelist</button>
            
            <!--<p>
                <input type="text" placeholder="IP address" />&nbsp;<a href="javascript:void(0)">Test IP access</a>
            </p>
                -->
        </div>
    </div>


    <div *ngIf="isOrmInstalled">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-star pr8"></i>Run-time connections

                </h3>
            </div>
            <div class="panel-body">
                <p>
                    Configure one or more connections to use for execution.
                </p>
                <br />

                <button class="btn btn-info" (click)="onAddExecConnectionClicked()">Add connection</button>


                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:150px"></th>
                            <th style="width:220px">Name</th>
                            <th>Source</th>
                            <th>Key</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template [ngIf]="execConnectionsList">
                            <tr *ngFor="let row of execConnectionsList">
                                <td class="anchorColumn">
                                    <a (click)="onEditExecConnectionClicked(row)">edit</a>
                                    <a (click)="onDeleteExecConnectionClicked(row)">delete</a>
                                </td>
                                <td>{{row.Name}}</td>
                                <td>
                                    {{ row.DataSource }}; {{ row.InitialCatalog }}

                                </td>
                                <td>
                                    {{ row.Guid }}
                                </td>
                            </tr>
                        </template>
                        <tr *ngIf="!execConnectionsList || execConnectionsList.length == 0">
                            <td colspan="100">No connections configured yet.</td>
                        </tr>
                    </tbody>
                </table>



            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-tags pr8"></i>Inclusion/exclusion rules (DB level)
                </h3>
            </div>
            <div class="panel-body">


                <button class="btn btn-primary" (click)="onManageRulesClicked()">Manage rules</button>

            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-code pr8"></i>Output files
                </h3>
            </div>
            <div class="panel-body">

                <button class="btn btn-primary" (click)="onAddNewOutputFileClicked()">Add new output file</button>
                <br />

                <table class="table table-striped" *ngIf="outputFileList">
                    <thead>
                        <tr>
                            <th style="width:150px"></th>
                            <th style="width:220px">Name</th>
                            <th></th>
                            <th>Output URLs</th>
                            <th>Key</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of outputFileList">
                            <td class="anchorColumn">
                                <a (click)="onEditOutputFile(row)">edit</a>
                                <a (click)="onDeleteOutputFile(row)">delete</a>
                            </td>
                            <td>{{row.Filename}}</td>
                            <td><a (click)="onJsFileManageRulesClicked(row)" href="javascript:void(0)">manage rules</a></td>
                            <td>

                                <label><input type="checkbox" [(ngModel)]="!!minifiedLookup[row.Guid]" />minified?</label><br />
                                http://serverIp???/api/js/{{row.Guid}}?min={{!!minifiedLookup[row.Guid]}}
                            </td>
                            <td>
                                {{row.Guid}}
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>



        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-plug pr8"></i>Plugins
                </h3>
            </div>
            <div class="panel-body" *ngIf="pluginList">

                <button class="btn btn-primary" *ngIf="pluginConfigIsDirty" (click)="onSavePluginChangesClicked();" style="margin:4px 0 15px 4px ;">Save changes</button>

                <div class="list-group" *ngFor="let row of pluginList" style="margin-bottom:4px;">
                    <div class="list-group-item" [class.list-group-item-success]="row.Included">
                        <label><h4 class="list-group-item-heading"><input type="checkbox" [(ngModel)]="row.Included" (change)="onPluginInclusionChanged(row)" /> {{row.Name}}</h4></label>
                        <span style="margin-left:20px;" class="anchorNest"><a (click)="onPluginInclusionChanged()">up</a><a (click)="onPluginInclusionChanged()">down</a></span>
                        <p class="list-group-item-text">
                            {{row.Description}}

                        </p>
                    </div>
                </div>
            </div>
        </div>



    </div>


</div>
