
<md-card [@componentState]="componentState">
    <md-card-title><div class="flex-vertical-center"><md-icon class=" pr8">web</md-icon><span>Projects</span></div></md-card-title>
    <md-card-content>

        <table class="grid" *ngIf="projectList">
            <thead>
                <tr>
                    <th style="width:300px"></th>
                    <th style="width:250px">Project</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of projectList" [class.selected]="route.firstChild? route.firstChild.params.getValue().name == row.Name: false">
                    <td class="anchorColumn">
                        <button (click)="componentState = 'childRouteActive';" [routerLink]="['./' + row.Name]" md-button color="primary" >manage</button>
                        <button (click)="onEditProject(row)" md-button color="primary" >edit</button>
                        <button (click)="onDeleteProject(row)" md-button color="accent" >delete</button>
                    </td>
                    <td>{{row.Name}}</td>
                    <td>
                        {{row.NumberOfDatabaseSources}} data source(s)
                    </td>

                </tr>
            </tbody>
        </table>
    </md-card-content>
    <md-card-actions>

        <button (click)="onCreateNewProjectClicked()" md-raised-button color="primary">CREATE NEW PROJECT</button>
    </md-card-actions>

</md-card>

<router-outlet></router-outlet>