<md-card [@componentState]="componentState">
    <md-card-title><div class="flex-vertical-center"><md-icon class=" pr8">language</md-icon><span>{{projectName}} data sources</span></div></md-card-title>
    <md-card-content>

        <table class="grid" *ngIf="dbList">
            <thead>
                <tr>
                    <th style="width:300px"></th>
                    <th style="width:300px">Name</th>
                    <th style="width:200px">Source</th>
                    <th style="width:100px"></th>
                    <th>Key</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of dbList" [class.selected]="route.firstChild? route.firstChild.params.getValue().name == row.Name: false">
                    <td class="anchorColumn">
                        <button [routerLink]="['./' + row.Name]" md-button color="primary" >manage</button>
                        <button (click)="onAddEditDbSourceClicked(row)" md-button color="primary" >edit</button>
                        <button (click)="onDeleteDatabase(row)" md-button color="accent" >delete</button>
                    </td>
                    <td>{{row.Name}}</td>
                    <td>
                        {{row.DataSource}}; {{row.InitialCatalog}}
                    </td>
                    <td class="center">
                        <md-chip-list>
                            <md-chip color='{{row.DefaultRuleMode==0? "primary": "accent"}}' selected="true" [title]="row.DefaultRuleMode==0?'By default all routines are INCLUDED in the generated files':'By default all routines are EXCLUDED in the generated files'">{{row.DefaultRuleMode==0? "Include all": "Exclude all"}}</md-chip>
                        </md-chip-list>

                    </td>
                    <td>
                        {{row.Guid}}
                    </td>
                </tr>
                <tr *ngIf="!dbList || dbList.length == 0">
                    <td colspan="4">No database sources exist yet.</td>

                </tr>
            </tbody>
        </table>

    </md-card-content>
    <md-card-actions>
        <button (click)="onAddEditDbSourceClicked(null)" md-raised-button color="primary">ADD DATABASE SOURCE</button>
    </md-card-actions>
</md-card>
<router-outlet></router-outlet>