<md-card [@componentState]="componentState">
    <md-card-title><md-icon class=" pr8">view_list</md-icon>Projects</md-card-title>
    <md-card-content>

        <table class="table table-striped" *ngIf="projectList">
            <thead>
                <tr>
                    <th style="width:200px"></th>
                    <th style="width:250px">Project</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of projectList" [class.success]="selectedProject == row">
                    <td class="anchorColumn">
                        <a (click)="componentState = 'childRouteActive';" [routerLink]="['./' + row.Name]">manage</a>
                        <a (click)="onEditProject(row)">edit</a>
                        <a (click)="onDeleteProject(row)">delete</a>
                    </td>
                    <td>{{row.Name}}</td>
                    <td>
                        {{row.NumberOfDatabaseSources}} data source(s)
                    </td>

                </tr>
            </tbody>
        </table>
    </md-card-content>
    <md-card-actions>

        <button (click)="onCreateNewProjectClicked()" md-raised-button color="primary">CREATE NEW PROJECT</button>
    </md-card-actions>

</md-card>

<router-outlet></router-outlet>