hr
{
    border: 1px solid #333;
}

div.exception-detail
{

}

.head
{
    font-size:1.2em;
    font-weight:bold;
}

/deep/ span.first-stacktrace-line
{
    font-weight: bold;
    color: #fff;
}

/deep/.procName
{
    font-weight: bold;
    color: #EF5D5D;
    text-decoration: dotted;
    text-decoration-line: underline;
}

div.exception-detail .msg
{
    padding: 7px;
    background-color: #333;
    color: #FFFA45;
    width: 100%;
    border-radius: 4px;
    width: 99%;
}

/* div.exception-detail .stack
{
    background-color: #1E1E1E;
    padding: 13px;
    color: #FF8C8C;
    overflow-y: scroll;
    font-family: Consolas, 'Courier New', monospace;
} */

.exec-option
{
    margin: 6px;
    padding: 12px;
    background-color: rgb(240,240,255);
}

.exec-option .row
{
    margin-right: 20px;
}

.exec-option .row .field
{
    font-weight: bold;
    width: 80px;
    display: inline-block;
}
 


div.exception-detail .stack
{
    overflow-y: scroll;
    font-family: Consolas, 'Courier New', monospace !important;
}