
<mat-card *ngIf="workerList">
    <mat-card-content>


        <table class="grid">
            <thead>
                <tr>
                    <th style="width:180px;">Endpoint</th>
                    <th style="width:250px;">Description</th>
                    <th>Last status</th>
                    <!-- <th style="width:300px;">Progress</th> -->
                    <th style="width:200px;">Running?</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of workerList" [class.notRunning]="!row.isRunning">
                    <td>
                        <button mat-button color="primary" [routerLink]='row.id'>{{ row.name }}</button>
                    </td>
                    <td>{{ row.desc }}</td>
                    <td>{{ row.status }}</td>
                    <!-- <td title='{{ row.lastProgressMoment | date: "dd MMM yyyy, HH:mm:ss" }}'><span>{{ row.lastProgressMoment | date: 'HH:mm:ss' }}</span><span> - {{ row.lastProgress }}</span></td> -->
                    <td>{{ row.isRunning? "Running" : "Stopped" }}
                            <button (click)="startWorker(row)" *ngIf="!row.isRunning" mat-button color="primary">START</button>
                            <button (click)="stopWorker(row)" *ngIf="row.isRunning" mat-button color="warn">STOP</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
    <mat-card-actions>
        <!--<button mat-raised-button color="primary" (click)="onRefreshClicked()" type="button">REFRESH</button>-->
    </mat-card-actions>
</mat-card>
<br/>
<router-outlet></router-outlet>
