<md-card>
    <md-card-content>
        <md-input-container>
            <input #errRef mdInput type="text" placeholder="Error ref#" />
        </md-input-container>
    </md-card-content>
    <md-card-actions>
        <button md-button color="primary" (click)="lookupError(errRef.value)">LOOKUP</button>
    </md-card-actions>
</md-card>

<md-card *ngIf="exceptionDetail">
    <md-card-content>
        <span style="font-size:1.1em;font-weight:bold;">{{ exceptionDetail.created | fromISODateStr | date:'dd MMM yyyy, HH:mm:ss' }}</span><span>({{ exceptionDetail.id }})</span>
        <hr/>
        <div class="exception-detail" *ngIf="exceptionDetail.exceptionObject">
            <div class="msg">{{ exceptionDetail.exceptionObject.message }}</div>
            <hr/>

            <div class="stack" *ngIf="exceptionDetail.exceptionObject.stack" [innerHTML]="formatStackTrace(exceptionDetail.exceptionObject.stack)">


            </div>

        </div>
    </md-card-content>
</md-card>