

/*.exception-item:hover
{
    background-color: #f0f0f0;
}*/

.app-title
{
    color: #fff;
    background-color: #B873DD;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 130px;
    margin-right: 4px;
    padding: 3px;

    position: relative;
    top: 6px;
}

.msg
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 1200px;

    position: relative;
    top: 5px;

 
}

