<md-card>
    <md-card-content>
        <md-form-field>
            <input #errRef mdInput type="text" placeholder="Error ref#" />
        </md-form-field>
    </md-card-content>
    <md-card-actions>
        <button #lookupButton md-button color="primary" (click)="lookupError(errRef.value)">LOOKUP</button>
    </md-card-actions>
</md-card>

<md-card *ngIf="exceptionDetail">
    <md-card-content>
        <span class="head">{{ exceptionDetail.created | fromISODateStr | date:'dd MMM yyyy, HH:mm:ss' }}</span>&nbsp;<span>({{ exceptionDetail.id }})</span>
        <hr/>
        <div class="exception-detail" *ngIf="exceptionDetail.exceptionObject">
            <div class="msg" [innerHTML]="formatMessage(exceptionDetail.exceptionObject.message)"></div>
            <hr/>

            <div class="stack" *ngIf="exceptionDetail.exceptionObject.stack" [innerHTML]="formatStackTrace(exceptionDetail.exceptionObject.stack)">


            </div>

        </div>
    </md-card-content>
</md-card>

<md-card>
    <md-card-title>Recent exceptions</md-card-title>
    <md-card-content>

        <p>
            (Total # of exceptions in memory: {{ totalExceptionCnt }})
            </p>
        
        <div *ngIf="recentExceptions">

            <p *ngIf="recentExceptions.length == 0">
                No recent exceptions found.
            </p>

            <div *ngFor="let ex of recentExceptions">
                <span [title]="ex.created | date: 'dd MMM yyyy'">{{ ex.created | date: 'HH:mm:ss' }}</span>
                <div style="width:110px;display:inline-block">
                        <button (click)="errRef.value=ex.id;lookupError(ex.id)" md-button color="primary">{{ ex.id }}</button>
                </div>
                <span *ngIf="ex.exceptionObject" [innerHTML]="formatMessage(ex.exceptionObject.message)">

                </span>
                
            </div>

        </div>

    </md-card-content>
</md-card>