

/*.exception-item:hover
{
    background-color: #f0f0f0;
}*/

.app-title
{
    color: #fff;
    background-color: #B873DD;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 150px;
    margin-right: 4px;
    padding: 2px 0.5em;
    border-radius: 0.4em;
    position: relative;
    top: 6px;
}

.msg
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 1200px;

    position: relative;
    top: 5px;

 
}

.filter-container
{
    display: flex;
    align-items: center;
    justify-content: start;
}

.filter-container > *
{
    margin-right: 30px;
} 