<button mat-raised-button (click)="refreshX()" color="primary">Refresh</button>

<button mat-raised-button (click)="clearExecutions()" color="warn">Clear Executions</button>


<hr />
<h4>Audit</h4>
<ng-container *ngIf="audit && audit.length > 0">

  <table class="grid">
    <thead>
      <tr>
        <th *ngFor="let c of (audit[0] | keys)">
          {{ c }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of audit">
        <td *ngFor="let c of (audit[0] | keys)">
          {{ row[c] | json }}
        </td>
      </tr>
    </tbody>

  </table>

</ng-container>


<hr/>
<h4>Executions</h4>
<ng-container *ngIf="executionsData && executionsData.length > 0">

  <table class="grid">
    <thead>
      <tr>
        <th *ngFor="let c of (executionsData[0] | keys)">
          {{ c }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of executionsData">
        <td *ngFor="let c of (executionsData[0] | keys)">
          {{ row[c] }}
        </td>
      </tr>
    </tbody>

  </table>

</ng-container>
<hr />
<h4>Aggregates</h4>
<ng-container *ngIf="aggData && aggData.length > 0">

  <table class="grid">
    <thead>
      <tr>
        <th *ngFor="let c of (aggData[0] | keys)">
          {{ c }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of aggData">
        <td *ngFor="let c of (aggData[0] | keys)">
          {{ row[c] | json }}
        </td>
      </tr>
    </tbody>

  </table>

</ng-container>
