<mat-card appearance="outlined">
    <mat-card-content>


        <mat-form-field>
            <mat-select placeholder="Type" [(ngModel)]="selectedType" (selectionChange)="updateList()">
                <mat-option [value]="0">(All)</mat-option>
                <mat-option *ngFor="let e of LogEntryTypeValues" [value]="LogEntryType[e]">{{e}}</mat-option>
            </mat-select>

        </mat-form-field>



        <table class="grid">
            <thead>
                <tr>
                    <th style="width:50px">Time</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of filteredList" title="{{row.CreateDate|fromISODateStr|date:'longDate'}}">
                    <td>{{row.CreateDate|fromISODateStr|date:'HH:mm:ss'}}</td>
                    <td>
                        <!-- <span style="display: inline-block;width:70px" class="label label-{{getLogEntryTypeBadgeClass(row.Type)}}">{{LogEntryType[row.Type]}}</span> -->
                        <mat-chip-listbox [selectable]="false" style="display: inline-block;width:100px">
                            <mat-chip-option [color]="primary">{{LogEntryType[row.Type]}}</mat-chip-option>
                        </mat-chip-listbox>
                        <span>&nbsp;&nbsp;</span>
                        
                        <div class="msg" [ngClass]="LogEntryType[row.Type]" [innerHTML]="formatMessage(row)">
                            
                        </div>
                    
                    </td>
                        
                        
                </tr>
            </tbody>
        </table>

        <div class="panel-footer flex-vertical-center" *ngIf="datasource">
            <mat-icon>info</mat-icon><span>&nbsp;&nbsp;</span>
            <span>Viewing&nbsp;</span>
            <strong *ngIf="filteredList">{{ filteredList.length }}</strong>
            <span>&nbsp;of&nbsp;</span>
            <strong>{{ datasource.length }}</strong>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onRefreshClicked()" type="button">REFRESH</button>
    </mat-card-actions>
</mat-card>