<h1 md-dialog-title>{{ title }}</h1>

<div md-dialog-content>

    <div class="flex-vertical-center">
        <md-input-container>

            <input mdInput type="text" [placeholder]="fieldName" [(ngModel)]="val" required />

        </md-input-container>
    </div>


</div>
<div md-dialog-actions align="end">
    <button type="button" md-button color="primary" (click)="okayClicked()">{{okayTxt}}</button>
    <button type="button" md-button color="primary" (click)="dialogRef.close(null)">CANCEL</button>
</div>