<md-sidenav-container style="background-color: #F0EDE5">
    <md-sidenav #side mode="push" opened="false">

        <md-nav-list>
            <a (click)="side.close();" md-list-item [routerLink]="['/home']">Main</a>
            <a (click)="side.close();" md-list-item [routerLink]="['/projects']">Projects</a>
            <a (click)="side.close();" md-list-item [routerLink]="['/performance']">Performance</a>
            <a (click)="side.close();" md-list-item [routerLink]="['/threads']">Threads</a>
            <a (click)="side.close();" md-list-item [routerLink]="['/sessionlog']">Session log</a>
            <a (click)="side.close();" md-list-item [routerLink]="['/settings']">Settings</a>
        </md-nav-list>



    </md-sidenav>

    <div class="main-content">

        <md-toolbar *ngIf="this.accountService.isLoggedIn && this.router.url != '/login'" color="primary" style="margin-bottom: 20px;">
            <md-icon (click)="side.open();" style="margin-right:10px;">menu</md-icon>
            <span>jsDAL Server</span>

            <!--<div style="margin-left: 20px;">
                <a [routerLink]="['/home']">Main</a>
                <a [routerLink]="['/projects']">Projects</a>
                <a [routerLink]="['/performance']">Performance</a>
                <a [routerLink]="['/threads']">Threads</a>
                <a [routerLink]="['/sessionlog']">Session log</a>
                <a [routerLink]="['/settings']">Settings</a>
            </div>-->

            <div style="flex: 1 1 auto;">
                Logged in as <span>UNKNOWN</span>, <a>logout</a>
            </div>
        </md-toolbar>


        <div id="app-content">
            <router-outlet></router-outlet>
        </div>


    </div>

</md-sidenav-container>