<mat-card appearance="outlined" style="max-width:600px;margin:auto">
    <mat-card-title>First time setup</mat-card-title>
    <mat-card-content>
        You need to complete this first time setup before you can start managing the jsDAL server.
    </mat-card-content>
</mat-card>
<br/>
<mat-card appearance="outlined" style="max-width:600px;margin:auto">
    <mat-card-title>Admin user</mat-card-title>
    <mat-card-content>
        <p>
            Create an admin user.
        </p>
        <div>

            <mat-form-field>
                <input [(ngModel)]="adminUser.username" matInput placeholder="Username" autocomplete="off" />
            </mat-form-field>
            <mat-form-field>
                <input [(ngModel)]="adminUser.password" matInput placeholder="Password" type="password" autocomplete="new-password" />
            </mat-form-field>
            <mat-form-field>
                <input [(ngModel)]="adminUser.passwordConfirm" matInput placeholder="Confirm password" type="password" autocomplete="new-password" />
            </mat-form-field>

        </div>

    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="createAdminUser()">CREATE</button>
    </mat-card-actions>
</mat-card>