
.exception-item:hover
{
    /* background-color: #f0f0fe; */
    border: 1px dashed #aaa;  
}

.exception-item
{
    border: 1px dotted #fff;
    border-radius: 8px;
    display: flex; 
    align-items: center; 
    padding: 4px;
}

.app-title
{
    color: #fff;
    background-color: #B873DD;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 150px;
    margin-right: 4px;
    padding: 2px 0.5em;
    border-radius: 0.4em;
    position: relative;
    flex: 0 0 150px;
}
.app-ver
{
    margin-left: 4px;
    margin-right: 6px;
    border-bottom: 1px silver dotted;
    font-size: 0.85em;
    font-weight: bold;
}

.msg-container
{
    flex: 1 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    display: flex;
}

.msg-container .proc-name{
    font-weight: bold; 
}

.msg-container .msg
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}


button.exception-id
{
    font-family: Courier;
    font-weight: 800;
    width: 80px;
}

mat-icon.related
{
    color: #4040fe; 
    cursor: pointer;
    margin-right: 6px;
}
mat-icon.related.disabled
{
    color: #333;
    opacity: 0.1;
    cursor: default;
} 

div.related-children-container
{
    margin-left: 50px; 
    background-color: rgba(223, 205, 102, 0.1);
    border-radius: 8px; 
}

div.related-children-container .exception-item 
{
    border: 1px dashed rgba(223, 205, 102, 0.1); 
}  

div.related-children-container .exception-item:hover
{
    border: 1px dashed #c0c0c0;   
} 