<div class="exception-item" *ngIf="exception as ex">
    <span [title]="ex.created | date: 'dd MMM yyyy'">{{ ex.created | date: 'HH:mm:ss' }}</span>


    <button [disabled]="isLoading" class="exception-id" (click)="lookupError(ex.id);" mat-button
        color="primary">{{ ex.id }}</button>

    <mat-icon *ngIf="!isRelated" class="related" (click)="loadRelated()"
        [matBadgeHidden]="isRelated || (ex.relatedCount == null || ex.relatedCount <= 0)" [matBadge]="ex.relatedCount"
        matBadgeSize="small" matBadgePosition="above after" matBadgeOverlap="true" matBadgeColor="accent"
        [class.disabled]="isLoading || (ex.relatedCount == null || ex.relatedCount <= 0)">
        {{ isRelated? "minimize":"more" }}
    </mat-icon>

    <div class="app-title" *ngIf="ex.appTitle" [title]="ex.appTitle"><span>{{ ex.appTitle }}</span></div>
    <div class="app-ver" *ngIf="ex.appVersion" [title]="'Version: ' + ex.appVersion"><span>v{{ ex.appVersion }}</span></div>
    <div class="msg-container" *ngIf="ex">
        <div *ngIf="ex.procedure">
            <span>Procedure </span>
            <span class="proc-name">{{ ex.procedure }}</span>
            <span>,&nbsp;</span>
        </div>
        <div class="msg">{{ ex.message }}</div>
    </div>
</div>

<mat-spinner diameter="16" *ngIf="isLoadingRelated"></mat-spinner>
<div class="related-children-container" *ngIf="related">
    <exception-recent-item *ngFor="let ex of related" (onNavigating)="onChildNavigating($event)" [exception]="ex" [isLoading]="isLoading" [parentId]="exception.id">
    </exception-recent-item>
</div>