
.exception-item:hover
{
    background-color: #f0f0fe;
}

.exception-item
{
    display: flex;
    align-items: center; 
}

.app-title
{
    color: #fff;
    background-color: #B873DD;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 150px;
    margin-right: 4px;
    padding: 2px 0.5em;
    border-radius: 0.4em;
    position: relative;
    flex: 0 0 150px;
}

.msg-container
{
    flex: 1 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    display: flex;
}

.msg-container .proc-name{
    font-weight: bold; 
}

.msg-container .msg
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}


button.exception-id
{
    font-family: Courier;
    font-weight: 800;
    width: 80px;
}

mat-icon.related
{
    color: #4040fe; 
    cursor: pointer;
    margin-right: 6px;
}
mat-icon.related.disabled
{
    color: #333;
    opacity: 0.1;
    cursor: default;
} 

div.related-children-container
{
    margin-left: 15px;
}