<h1 mat-dialog-title>Uptime history</h1>
<div mat-dialog-content>

  <mat-spinner *ngIf="isLoading" [diameter]="24"></mat-spinner>


  <ng-container *ngIf="data">

    <table class="grid" style="width: 95%;margin: auto;">
      <colgroup>
        <col width="160px">
        <col>
      </colgroup>
      <thead>
        <tr>
          <th>Started</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let row of data">
          <td class="dt">{{ row.Date | date:'yyyy-MM-dd, HH:mm' }}</td>
          <td class="duration">{{ row.TotalSeconds | secondsToTime:'long' }}</td>
        </tr>
      </tbody>

    </table>

  </ng-container>


</div>
<div mat-dialog-actions align="end">
  <button color="primary" mat-button mat-dialog-close cdkFocusInitial>DONE</button>

</div>
