<h1 mat-dialog-title>Uptime history</h1>
<div mat-dialog-content>

  <mat-spinner *ngIf="isLoading" [diameter]="24"></mat-spinner>


  <ng-container *ngIf="data">

    <div class="row" *ngFor="let row of data">
      <div class="dt">{{ row.Date | date:'yyyy-MM-dd, HH:mm' }}</div>
      <div class="duration">{{ row.TotalSeconds | secondsToTime:'long' }}</div>
    </div>

  </ng-container>


</div>
<div mat-dialog-actions align="end">
  <button color="primary" mat-button mat-dialog-close cdkFocusInitial>DONE</button>

</div>
