<div *ngIf="statsData" class="form-horizontal ">
    <div class="form-group ">
        <label class="col-sm-2 control-label">Web server started</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ statsData.WebServerStartDate | fromISODateStr |date:'dd MMM yyyy, HH:mm:ss' }} <span class="text-info">({{getWebServerAge(statsData.WebServerStartDate)}} ago)</span></p>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">Working set</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ statsData.Performance.WorkingSet / 1024.0 / 1024.0 | number:'1.2-2' }} MB <span class="text-info">({{ statsData.Performance.PeakWorkingSet / 1024.0 / 1024.0 | number: '1.2-2' }} MB peak)</span></p>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">Tick count</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ statsData.TickCount }}</p>
        </div>
    </div>

</div>