<md-card *ngIf="statsData" style="max-width: 600px;margin:auto;">
    <md-card-content>

        <div class="form-flex">
            <div class="full">
                <span class="field180">Web server started</span>
                <span class="value">{{ statsData.WebServerStartDate | fromISODateStr |date:'dd MMM yyyy, HH:mm:ss' }} ({{getWebServerAge(statsData.WebServerStartDate)}} ago)</span>
            </div>

            <div *ngIf="statsData.Performance">
                <span class="field180">Resident</span>
                <span class="value"> {{ statsData.Performance.Resident / 1024.0 / 1024.0 | number:'1.2-2' }} MB </span>
            </div>

            <div *ngIf="statsData.Performance">
                <span class="field180">Heap (total)</span>
                <span class="value"> {{ statsData.Performance.HeapTotal / 1024.0 / 1024.0 | number:'1.2-2' }} MB </span>
            </div>
            <div *ngIf="statsData.Performance">
                <span class="field180">Heap (used)</span>
                <span class="value"> {{ statsData.Performance.HeapUsed / 1024.0 / 1024.0 | number:'1.2-2' }} MB </span>
            </div>

        </div>

    </md-card-content>

</md-card>