<h1 mat-dialog-title>
    <div class="flex-vertical-center">
        <mat-icon>style</mat-icon><span>Metadata browser</span></div>

</h1>
<div mat-dialog-content>

    <div class="form-flex">
        <mat-form-field class="full">
            <input matInput type="text" placeholder="Search query" [(ngModel)]="searchCriteria.query" (keyup.enter)="onSearchClicked()"
            />
        </mat-form-field>

        <div style="margin-top:10px;display: flex; justify-content: space-around;flex: 1 1 auto;">

            <mat-select [(ngModel)]="searchCriteria.routineType" placeholder="Type">
                <mat-option value="0">(All)</mat-option>
                <mat-option value="function">UDF</mat-option>
                <mat-option value="procedure">Sproc</mat-option>
                <mat-option value="tvf">Table-valued</mat-option>
            </mat-select>

            <mat-select [(ngModel)]="searchCriteria.status" placeholder="Status">
                <mat-option value="0">(All)</mat-option>
                <mat-option value="1">Has error</mat-option>
                <mat-option value="2">No error</mat-option>
            </mat-select>

            <mat-checkbox [(ngModel)]="searchCriteria.hasjsDALMetadata">Has jsDAL metadata</mat-checkbox>
            <mat-checkbox [(ngModel)]="searchCriteria.isDeleted">Is deleted</mat-checkbox>
        </div>


    </div>

    <br/>

    <button mat-raised-button color="primary" (click)="onSearchClicked()">SEARCH</button>
    <hr/>

    <mat-progress-spinner [diameter]="30" [strokeWidth]="3" mode="indeterminate" *ngIf="isLoading"></mat-progress-spinner>

    <div *ngIf="!isLoading && searchResults">

        <div class="panel-footer">
            <mat-icon>info</mat-icon><span>Viewing <strong>{{ searchResults.length }}</strong> of <strong>{{ totalCount }}</strong> routine(s)</span>
        </div>

        <table class="grid">
            <thead>
                <tr>
                    <th>Name</th>
                    <th style="width:80px">Parameters</th>
                    <th style="width:100px">Results</th>
                </tr>
            </thead>
            <tbody>
                <ng-template [ngIf]="searchResults">
                    <tr *ngFor="let row of searchResults" [class.deleted]="row.IsDeleted">
                        <td>[{{row.Schema}}].[{{row.Routine}}] 
                            <button mat-button color="primary" *ngIf="row.jsDALMetadata?.jsDAL" (click)="showJsDALMetadata(row)">(meta)</button></td>
                        <td>
                            <button color="primary" mat-button *ngIf="row.Parameters?.length > 0" (click)="viewParameters(row)" href="javascript:void(0)">
                                                        {{ row.Parameters.length }} {{row.Parameters.length == 1? "parm":"parms" }}
                                                    </button>

                            <button mat-button disabled="true" *ngIf="row.Parameters == null || row.Parameters.length == 0">0 parms</button>
                        </td>
                        <td>
                            <button color="primary" mat-button (click)="showTableResults(row,false)" href="javascript:void(0)">{{ getResultsText(row) }}</button>
                            <button *ngIf="row.ResultSetError" color="primary" mat-button (click)="showTableResults(row,true)" href="javascript:void(0)">(error)</button>
                            
                        </td>
                    </tr>
                </ng-template>
                <tr *ngIf="!searchResults || searchResults.length == 0">
                    <td colspan="100">No results found.</td>
                </tr>
            </tbody>
        </table>

        <div class="panel-footer">
            <mat-icon>info</mat-icon><span>Viewing <strong>{{ searchResults.length }}</strong> of <strong>{{ totalCount }}</strong> routine(s)</span>
        </div>


    </div>

</div>

<div mat-dialog-actions align="end">
    <button color="primary" mat-button (click)="dialogRef.close(false)">CLOSE</button>
</div>