div.panel-footer
{
    padding: 8px;
    background-color: #c0c0c0;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

div.panel-footer mat-icon
{
    margin-right: 20px;
}

.control-row
{
    margin-top:10px;
    display: flex; 
    justify-content: space-around;
    flex: 1 1 auto;
    flex-wrap: wrap;

}

.control-row > *
{
    min-width: 50px;
    flex: 1 1;
    margin-right: 15px;
}

tr.deleted
{
    color: #fe3020;
}