<h1 mat-dialog-title>
    <div class="flex-vertical-center">
        <mat-icon>info_outline</mat-icon><span> {{ title }} </span></div>
</h1>
<div mat-dialog-content>

    <div *ngIf="mode == 'Parms'">

        <table class="grid">
            <thead>
                <tr>
                    <th>Name</th>
                    <th style="width:80px">IsOutput</th>
                    <th style="width:100px">Data type</th>
                    <th style="width:80px">Length</th>
                    <th>Default value</th>
                </tr>
            </thead>
            <tbody>
                <ng-template [ngIf]="dataContext">
                    <tr *ngFor="let row of dataContext">
                        <td>
                            {{ row.Name }}
                        </td>
                        <td>{{ row.IsOutput }}</td>
                        <td>{{ row.SqlDataType }}</td>
                        <td>
                            {{ row.MaxLength }}
                        </td>
                        <td>
                            {{ row.DefaultValue }}
                        </td>
                    </tr>
                </ng-template>
                <tr *ngIf="!dataContext || dataContext.length == 0">
                    <td colspan="100">No or empty data context set.</td>
                </tr>

            </tbody>
        </table>

    </div>

    <div *ngIf="mode == 'ResultSet'">

        <div class="resultContainer" *ngIf="dataContextKeys">

            <mat-tab-group>



                <mat-tab *ngFor="let key of dataContextKeys" [label]="key">

                    <table class="grid">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th style="width:100px">Data type</th>
                                <th style="width:80px;">Size</th>
                                <th style="width:80px;">Precision.Scale</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-template [ngIf]="dataContext[key]">
                                <tr *ngFor="let row of dataContext[key]">
                                    <td>{{ row.ColumnName }}</td>
                                    <td>{{ row.DbDataType }}</td>
                                    <td align="right">{{ row.ColumnSize }}</td>
                                    <td align="right">{{ row.NumericalPrecision }}.{{ row.NumericalScale }}</td>
                                </tr>
                            </ng-template>
                            <tr *ngIf="!dataContext[key] || dataContext[key].length == 0">
                                <td colspan="100">Empty result set.</td>
                            </tr>

                        </tbody>
                    </table>

                </mat-tab>

            </mat-tab-group>

        </div>

    </div>

    <div *ngIf="mode == 'ResultSetError'">
        <textarea [(ngModel)]="dataContext" [readonly]="true" style="font-size: 12px; width:95%;margin:auto;height: 300px;"></textarea>
    </div>

    <div *ngIf="mode == 'JsDALMetadata'">
        <pre [innerHTML]='syntaxHighlight(dataContext)'></pre>
    </div>

</div>
<div mat-dialog-actions align="end">
    <button color="primary" mat-button (click)="dialogRef.close(false)">CLOSE</button>
</div>